.info {
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  * {
    display: inherit;
    align-items: inherit;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
}
