.trending {
  display: flex;
  flex-direction: column;

  position: relative;

  padding-right: 45px;

  span + span {
    margin-top: 2px;
  }
}

.icon {
  position: absolute;
  right: 0;
  top: -2px;
  z-index: 2;

  max-width: 27px;
  max-height: 27px;

  color: var(--c-gray);

  * {
    color: inherit;
  }

  button {
    padding: 5px;
  }

  svg {
    color: inherit;
    font-size: 1rem;
  }
}
