.extra {
  margin-right: 10px;
  padding-left: 10px;

  @media (--t) {
    padding-left: 20px;
  }

  @media (--t) {
    padding-left: 30px;
  }
}

.search {
  background-color: var(--c-primary);
  margin-bottom: 10px;
  padding-top: 9px;
  padding-bottom: 9px;

  position: -webkit-sticky;
  position: sticky;
  overflow: auto;
  z-index: 9;
  top: 0;
}

.trending {
  margin-bottom: 15px;
}

.follow {
  margin-bottom: 15px;
}

.info {
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  * {
    display: inherit;
    align-items: inherit;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
}

.copyright {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
}
