.extra {
  padding: 5px 20px;

  @media (--t) {
    min-width: 280px;
  }

  @media (--d) {
    min-width: 350px;
  }
}

.search {
  margin-bottom: 15px;
}

.trending {
  margin-bottom: 15px;
}

.follow {
  margin-bottom: 15px;
}

.info {
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  * {
    display: inherit;
    align-items: inherit;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
}

.copyright {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
}
