.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  padding-left: 10px;
  padding-right: 10px;

  @media (--m) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (--d) {
    align-items: flex-start;
  }
}

.tweetButton {
  margin-top: 10px;
  margin-bottom: 20px;

  min-height: 47px;
  min-width: 47px;

  @media (--d) {
    width: 100%;
  }
}

.profile {
  margin-top: auto;
}
