.layout {
  display: grid;
  grid-template-columns: auto minmax(325px, 600px) auto;
  min-height: 100vh;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;

  @media (--t) {
    max-width: 1060px;
  }

  @media (--d) {
    max-width: 1270px;
  }
}
