textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  resize: none;

  background: transparent;

  color: var(--c-text-color);

  min-height: 1.5rem;

  &.auto {
    overflow-y: hidden;
  }
}
